body{
    background-color: #d9edf7 !important;
}

.navbar.navbar-inverse{ 
    opacity: 0.7;
}

img#logo{
    width: 230px;
    display: block;
    position: relative;
    margin: auto;
    top: -5em;
    max-width: 100%;
}

.btn.btn-primary#add-category{
    max-width: 100%;
    display: block;
    float: right;
    position: relative;
    top: -8em;
    left: -1em;
}

h2{
    display: block;
    position: relative;
    right: -0.3em;
    top: -2.5em;
}

#board{
    position: relative;
    top: -5em;
    padding: 9px;
}

.label.label-default{
    background-color: lightblue;
    position: relative;
}

.task-name{
    float: left;
    width: 50px;
    width: 73%!important;
}

.add-task{
    float: right;
}

.close:hover {
    background-color: #f44336;
}

.category {
    float: left;
    height: 100px;
    width: 200px;
    margin-right: 10px;
    overflow:hidden;
    height:1%;
}

.btn.btn-danger{
    float: right;
    padding: 2px;
}
.glyphicon.glyphicon-remove{
    float:right;
    margin-top: 3px;
}

.panel-body{
    padding: 0px !important;
    color: #333;
    border-color: #ddd;  
    background-color: white;
}

.task-model{
    height: 30px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 5px;
    background-color: #f5f5f5;
}
.panel-heading{
    font-weight:bold;
    font-size:20px;
}