body{
    background-color: #d9edf7 !important;
}

.navbar.navbar-inverse{ 
    opacity: 0.8;
}

img#logo{
    width: 230px;
    display: block;
    position: relative;
    margin: auto;
    top: -5em;
    max-width: 100%;
}

.btn.btn-primary{
    max-width: 100%;
    display: block;
    float: right;
    position: relative;
    top: -8em;
    left: -1em;
}

h2{
    position: relative;
    top: -2.5em;
}

.label.label-default{
    background-color: lightblue;
    
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}