body{
    background-color: #d9edf7 !important;
}

.navbar.navbar-inverse{ 
    opacity: 0.8;
}

img#logo{
    width: 230px;
    display: block;
    position: relative;
    margin: auto;
    top: -5em;
    max-width: 100%;
}

.btn.btn-primary#add-category{
    max-width: 100%;
    display: block;
    float: right;
    position: relative;
    top: -8em;
    left: -1em;
}

h2{
    display: block;
    position: relative;
    right: -0.3em;
    top: -2.5em;
}

#board{
    position: relative;
    top: -5em;
    padding: 9px;
}

.label.label-default{
    background-color: lightblue;
    position: relative;
}

.task-name{
    float: left;
    width: 50px;
    width: 73%!important;
}

.add-task{
    float: right;
    display:inline;
}

.close:hover {
    background-color: #f44336;
}

.category {
    float: left;
    border-radius: 2000px;
    height: 100px;
    width: 200px;
    border: 2px solid;
    margin-right: 10px;
    overflow:hidden;
    height:1%;
}

/* Style the input */
input {
    border: none;
    width: 40%;
    height: 35px;
    padding: 10px;
    float: left;
    font-size: 16px;
}

#myInput{
color: black;
}

.btn-danger{
    float: right;
    padding: 0px;
    
}